<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-4xl font-medium z-40">
                Model Y
            </h2>
    
            <p class="text-black text-sm z-40 underline">Concertar una prueba de conducción </p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
            <a href="#" class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-12 py-2 hover:bg-black hover:text-white transition-colors">
                Explorar inventario
            </a>
            <a href="#" class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-12 py-2 hover:bg-black hover:text-white transition-colors">
                Pedido personalizado
            </a>
        </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10">
        <img src="/Model Y.avif" alt="Model Y" class="h-full w-full object-cover">
    </div>

</section>