<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-4xl font-medium z-40">
                Mantente enfocado
            </h2>
    
            <p class="text-white text-sm z-40">Y resurge como un fénix</p>

          <div class="mt-8 flex justify-center">
            <img
              src="/public/logo.png"
              alt="Imagen centrada"
              class="w-49 h-48 object-cover"
            />
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
            <a href="#" class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors">
                Inicia tu camino a la paz
            </a>
        </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10">
        <video class="object-center object-cover h-full w-full" autoplay muted loop  src="/Atardecer.webm "></video>
    </div>

</section>