---
import Logo from "./Logo.astro";
---

<header class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white bg-white/1 backdrop-blur-md transition-all">
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>

  <nav>
    <ul class="flex text-sm [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Características</a></li>
      <li><a href="#">Usuarios</a></li>
      <li><a href="#">Acerca de nosotros</a></li>
    </ul>
  </nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul class="flex text-sm [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Soporte</a></li>
      <li><a href="#">Crea una cuenta</a></li>
    </ul>
  </nav>
</header>